body {
    background-color: #4618ac;
    color: #fff;
}

.navbar {
    background-color: #36435c;
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 65px;
    align-items: center;
}

.navbar-brand img {
    height: auto;
    width: 120px;
    max-height: 100px !important;
}

.container-xl {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-nav .nav-item {
    white-space: nowrap;
}

.navbar-nav .nav-link {
    display: inline-block;
    font-size: 12px;
    padding: 10px 8px;
    text-transform: uppercase;
    color: white !important;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s ease;
    font-weight: 700 !important;
    font-family: 'Lato', 'sans-serif';
}

.navbar-nav .nav-link,
.navbar-nav .nav-link:visited {
    color: white;
    text-decoration: none;
}


.navbar-nav .nav-link:hover {
    color: #20c997 !important;
}

@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar-toggler {
        right: 0;
    }

    #footer_follow_p {
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        color: white;
        margin-left: 10px !important;
        white-space: nowrap;

    }
}






.dropdown-menu {
    background-color: #3c1f7d;
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border: none;
    z-index: 2;
}

.dropdown-item {
    color: #fff;
    padding: 8px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #20c997;
    color: #fff;
}

.dropdown-divider {
    border-top: 1px solid #20c997;
    margin: 10px 0;
}


.navbar-toggler {
    border: none;

}

.navbar-toggler {
    margin-right: 15px;
}





.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}



input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2320c997'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    z-index: 100;
}








.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}






























footer {
    background-color: #3c1f7d;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.footer-title {
    font-size: 24px;
    font-family: 'Lato', 'sans-serif';
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    display: block;
    text-transform: uppercase;
    cursor: default;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    padding-bottom: 32px;
    border-bottom: 2px solid #20c997;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition: color 0.3s;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-links a:hover {
    color: #20c997;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.footer-images-help {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.footer-images {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-help-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.footer-contact {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    text-align: left;
    cursor: default;
}

.footer-contact img {
    margin-top: 2px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-info span {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
}

.contact-info p {
    font-size: 12px;
    color: #bbb;
    margin: 0;
}

.footer-description-follow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    border-top: 2px solid #20c997;
    border-bottom: 2px solid #20c997;
    padding-top: 46px;
    padding-bottom: 35px;
}

.footer-description {
    font-size: 12px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    max-width: 580px;
    margin: 0;
    text-align: justify;
    cursor: default;
}

.footer-follow {
    margin-left: auto;
    font-size: 14px;
    color: #666;
    text-align: left;
    align-self: flex-start;
}

.footer-help-text {
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    cursor: default;
}

.info-warning {
    font-size: 12px;
    color: #20c997;
    margin: 5px 0 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    cursor: default;
}

#footer_follow_p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
    cursor: default;
}

#footer_follow_i {
    text-align: center;
    font-size: 36px;
    color: #20c997;
}


.footer-legal {
    text-align: left;
    font-size: 14px;
    color: white;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    padding: 10px 0;
}

.footer-legal a {
    text-decoration: none;
    color: #20c997;
    margin-right: 5px;
    transition: color 0.3s ease;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

.footer-legal a:hover {
    color: #66e6bf;
}

.footer-legal span {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    cursor: default;
}




@media (max-width: 991px) {
    .footer-container {
        padding: 0 10px;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
    }

    .footer-links a {
        font-size: 18px;
    }

    .footer-images-help {
        flex-direction: column;
        gap: 20px;
    }

    .footer-images {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .footer-description-follow {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        border-top: 2px solid #4c5d73;
        border-bottom: 2px solid #4c5d73;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-description {
        font-size: 14px;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .footer-follow {
        margin-left: 0;
        text-align: center;
    }

    .footer-help-contact {
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .footer-legal {
        text-align: center;
        font-size: 12px;
        padding: 15px 0;
    }

    .footer-legal a {
        font-size: 12px;
    }
}




.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
}




.hidden_nav {
    transform: translateY(-100%);
}





/* Felső navigáció */
.navbar-light {
    position: relative;
}

/* Alsó navigáció */
.navbar-dark {
    position: relative;
}


.navbar .container-xl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



.search-bar .form-control {
    width: 100%;
    padding-left: 30px;
    margin-right: 10px;
}


.search-bar {
    max-width: 557px;
    margin: 0 15px;
    position: relative;
    margin: 0 !important;

}



.search-bar .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
}



.navbar-light {
    background-color: #4618ac;
    color: #fff;
    padding: 0;
}


.navbar-dark {
    background-color: #3c1f7d;
    color: #fff;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link .navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}



a {
    color: white;
}

#bookResults {
    width: 100%;
    max-width: 780px;
    padding: 20px;
    overflow-y: auto;
    height: 400px;
    display: none;
    visibility: hidden;
    opacity: 0; 
    transition: opacity 0.3s ease, visibility 0s ease 0.3s; 
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-54%);
    z-index: 9999;
    background-color: #3c1f7d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
}

#bookResults.visible {
    display: block; 
    visibility: visible; 
    opacity: 1; 
    transition: opacity 0.3s ease, visibility 0s ease 0s; /* Instant visibility change */
}





@media (max-width: 991px) {
    #bookResults {
        left: 0; 
        transform: translateX(0); 
        max-width: 80%;
        max-width: 100%; 
    }
}


@media (max-width: 520px) {
    #bookResults {
        max-width: 100%; 
    }
}


.search-bar .form-control {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding-left: 35px;
    height: 55px;
}

.search-bar .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
}

.search-bar .form-control::placeholder {
    color: #d3d3d3;
    font-weight: 700;
    font-size: 16px;
}

/* Média lekérdezések */
@media (max-width: 991px) {
    .navbar .container-xl {
        flex-wrap: nowrap;
    }

    .navbar .d-flex {
        flex-wrap: nowrap;
    }
}

@media (max-width: 5200px) {
    .navbar-brand.hidden {
        display: none !important;
    }

    .search-bar {
        flex-grow: 1;
        position: relative;
        max-width: 100%;
        transition: width 0.3s ease-in-out;
    }

    .search-bar input {
        transition: width 0.3s ease-in-out;
        width: 100%;
    }

    .search-bar.expanded {
        width: 100% !important;
    }

    .search-bar input.expanded {
        width: 100% !important;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 10;
    }
}




.navbar-toggler {
    position: absolute;
    /* Fix it in place */
    top: 50%;
    /* Center it vertically */
    right: 10px;
    /* Position it towards the right */
    transform: translateY(-50%);
    /* Adjust for perfect vertical centering */
}

/* Optionally, for better responsiveness */
@media (max-width: 991px) {
    .navbar-toggler {

        right: 10px;
    }
}


#navbarNav {
    padding-left: 100px;
    padding-right: 100px;
}

#nav-hover:hover {
    color: #20c997 !important;
    text-decoration: none;
}




.card img {
    width: 100%;
    min-width: 200px;
    height: 300px;
    margin-bottom: 10px;
}

.card-info {
    position: relative;
    bottom: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: #3c1f7d;
    ;
}

.card-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.card-info .title {
    font-weight: bold;
}

.card-info .price {
    color: #e60000;
    font-weight: bold;
}

.card-info .buy-btn {
    margin-top: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}




.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}


.slider {
    display: flex;
    gap: 10px;  
    transition: transform 0.3s ease-in-out; 
    width: 100%;
    box-sizing: border-box;
}


.card {
    width: calc(25% - 10px);  
    flex-shrink: 0; 
    border: 1px solid #3c1f7d;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #3c1f7d;
}



.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}

.prev-btn {
    left: 10px;
    z-index: 100;
}

.next-btn {
    right: 20px;
}

button:focus {
    outline: none;
}



/* Vásárlás gomb stílusa */
.card .card-info .buy-btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 0;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card .card-info .buy-btn:hover {
    background-color: #3c1f7d;
    color: white;
}






@media (max-width: 1200px) {
    .slider-container {
        width: 100%;
        overflow: hidden; 
        position: relative; 
    }

    .scrollable {
        display: flex; 
        overflow-x: auto; 
        -webkit-overflow-scrolling: touch; 
        scrollbar-width: thin; 
        scrollbar-color: #888 #e0e0e0; 
        padding-bottom: 10px; 
        width: 100%; 
    }

    .slider {
        display: flex; 
        flex-wrap: nowrap; 
        width: auto; 
    }

    .card {
        width: 250px; 
        margin-right: 15px; 
        flex-shrink: 0; 
    }

    .card img {
        width: 100%;
        height: 200px;
    }

    .prev-btn,
    .next-btn {
        display: none; 
    }
}








.card .card-info {
    transform: translateY(0px);
    background-color: #3c1f7d;
}

.card .buy-btn {
    opacity: 0;
    pointer-events: none;
}

.card:hover .card-info {
    transform: translateY(-40px);
    background-color: #3c1f7d;
}

.card:hover .buy-btn {
    opacity: 1;
    pointer-events: all;
}

.card-info p {
    color: white;
}



.wishlist-icon {
    position: absolute;

    right: 10px; 
    font-size: 24px;
    color: white; 
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px 15px 10px 15px; 
    opacity: 0; 
    pointer-events: none; 
    transition: opacity 0.3s ease, right 0.3s ease; 
}

.card:hover .wishlist-icon {
    opacity: 1; 
    pointer-events: all; 
    right: 10px; 
}

.wishlist-icon:hover {
    cursor: pointer; 
}




/* Modal alapstílusai */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    top: 0;
    left: 0; 
    height: 100%;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    align-items: center; 
    justify-content: center; 
}


.modal-content {
    background-color: #3c1f7d;;
    width: 400px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    position: absolute; 
    top: 0;
    bottom: 0; 
    right: 0; 
    overflow-y: auto; 

}




.modal.show {
    display: flex; 
}


.close {
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
    position: absolute;
    height: max-content;
    right: 20px;
}

#close-modal {

    color: #20c997;
}



.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    position: relative; 
}

.cart-item-image {
    width: 50px;
    height: 75px;
    object-fit: cover;
    margin-right: 15px;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    
}

.cart-item-title{
    font-weight: bold;
    font-size: 1.2em;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
    cursor: default;
}


.cart-item-price {
    color: #f00;
    font-size: 1em;
    cursor: default;
}


.remove-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    right: 10px; 
    top: 70%; 
    transform: translateY(-50%); 
}

.remove-btn:hover {
    background-color: #e60000;
}

#cartModal .total-amount {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
}


#wishlist-icon:hover, #cart-icon:hover {
   color: #20c997 !important;
}

#userDropdown:hover {
    text-decoration: none;
    color: #20c997;
}

h2.h2-title {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: default;
}



footer {
    margin-top: 100px !important;
}

h2 {
    cursor: default;

}



.wishlist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
}


.wishlist-item-image {
    width: 80px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}


.wishlist-item-info {
    flex-grow: 1;
    margin-left: 15px;
}

.wishlist-item-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px 0;
    color: #fff;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
    cursor: default;
}

.wishlist-item-price {
    font-size: 1rem;
    color: red;
}

/* Remove Button Styling */
.remove-wishlist-btn {
    padding: 8px 12px;
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;

}

.remove-wishlist-btn:hover {
    background-color: #d9363e;
}

.footer-contact img {
    color: white;
}


.book-item-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}

.searched_image {
    width: 100px; 
    height: auto;
    margin-right: 20px; 
}

.book-info {
    flex: 1; 
}

.book-info h3 {
    margin: 0;
    font-size: 1.2em;
}

.book-info p {
    margin: 5px 0 0;
    font-size: 1em;
}

#decoration {
    position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
}

.fa-book, .fa-lock {
    font-size: 44px;
}

.fa-truck, .fa-credit-card {
    font-size: 40px;
}

.fa-phone {
    font-size: 20px;
}