
h1 {
    text-align: center;
}

.card {
    text-align: center;
    background-color: #3c1f7d;
    border-radius: 8px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    height: 100%;
    width: 100%;

}




#ekönyv-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px !important;
    margin: 0 auto;
}

#ismeretterjeszto-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px !important;
    margin: 0 auto;
}

/*ujkonyvek*/
#book-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px !important;
    margin: 0 auto;
}

#szepirodalom-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px !important;
    margin: 0 auto;
}


#ifjusagi-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px !important;
    margin: 0 auto;
}


#kepregeny-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px !important;
    margin: 0 auto;
}



