h1 {
    text-align: center;
    cursor: default;
    padding: 20px;
}

#ekönyv-details, #ujkonyv-details, #szepirodalom-details, #ismeretterjeszto-details, #ifjusagi-details, #kepregeny-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    justify-items: center; 
    padding: 20px;
    width: 100%;
    max-width: 1200px !important;
    margin: 0 auto;
    box-sizing: border-box;
}

.card {
    width: 100% !important;
}


@media (max-width: 1200px) {
    #ekönyv-details, #ujkonyv-details, #szepirodalom-details, #ismeretterjeszto-details, #ifjusagi-details, #kepregeny-details {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 768px) {
    #ekönyv-details, #ujkonyv-details, #szepirodalom-details, #ismeretterjeszto-details, #ifjusagi-details, #kepregeny-details {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 480px) {
    #ekönyv-details, #ujkonyv-details, #szepirodalom-details, #ismeretterjeszto-details, #ifjusagi-details, #kepregeny-details {
        grid-template-columns: 1fr; 
    }
}

