body {
    font-family: 'Lato', sans-serif;
    background-color: #4618ac;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    flex-direction: column; /* Adjust flex direction for responsiveness */
}

.container, .box {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #b8a3d1;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.box {
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: #007bff;
    cursor: default;
}

h2 {
    text-align: center;
    color: #333;
    cursor: default;
}

.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    min-height: 42px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.remember-me input, .accept-me input {
    margin-right: 10px;
}

.accept-me {
    display: flex;
    align-items: left;
    margin-top: 24px;
    margin-bottom: 24px;
}

#accept-label {
    text-align: left !important;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 24px;
    margin-bottom: 24px;
}

.btn:hover {
    background-color: #0056b3;
}

.form-footer {
    text-align: center;
    margin-top: 20px;
}

.form-footer a {
    color: #007bff;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
}

.input-field:focus {
    border: 1px solid #ccc;
    outline: none;
}

#accept-agreement {
    text-align: left;
    cursor: default;
    margin-bottom: 0;
}

#accept-agreement a, #footer-a, #form-footer-a {
    color: #007bff;
    text-decoration: none;
}

#footer-p {
    cursor: default;
    margin-bottom: 0;
}

.form-footer {
    cursor: default;
}

.logo img {
    cursor: pointer;
    display: block; /* Ensure the logo is block-level for positioning */
    margin: 20px auto; /* Center the logo */
}

.no-margin {
    margin: 0;
}

#password-show-hide {
    display: block;
    width: fit-content;
    max-width: fit-content;
    text-align: left;
    color: #007bff;
    padding-bottom: 10px;
    margin: 0;
    cursor: pointer;
}

#password-show-hide:hover {
    color: #99ccff;
}

.requirements {
    position: relative;
    padding-left: 15px;
    display: flex;
    align-items: left;
    cursor: default;
}

#requirements-p {
    font-size: 14px;
    margin-left: 4px;
}

.requirements::before {
    content: '◯';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 12px;
    line-height: 1;
    font-weight: 800;
}

.add-margin {
    margin: 20px;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .logo img {
        width: 80px; /* Resize the logo for smaller screens */
        margin: 20px auto;
    }

    .container, .box {
        padding: 20px;
    }

    .input-field {
        padding: 10px;
        min-height: 36px;
    }

    .btn {
        padding: 10px;
    }
  
}

@media (max-width: 480px) {
    .logo img {
        width: 60px; /* Resize the logo for even smaller screens */
        margin: 15px auto;
    }

    .container, .box {
        padding: 15px;
    }

    .input-field {
        padding: 8px;
        min-height: 32px;
    }

    .btn {
        padding: 8px;
    }
}

select.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23666' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    cursor: pointer;
}


#discounts select{
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23666' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    cursor: pointer;
}

#discounts select:focus {
    outline: none;
    border-color: #ccc;
    box-shadow: none;
}